h1 {
color: darkolivegreen;
border-radius: 100px;
text-align: center;
background-color: olive;
}

body {
background-color: darkolivegreen;
padding: 50px;
}

img {
height: 200px;
border-radius: 100px;
border: solid 25px olive;
}

.test {
color: olive;
font-size: 60px;
}
